.eventsWeekView{
    height: 300px;
    overflow-y: auto;
}
.container-morning{
    grid-row-start: 1;
}
.container-afternoon{
    grid-row-start: 2;
}
.single-event{
    // max-height: 120px;
    border: 0.5px solid black;
    margin: 2px;
    overflow-y: auto;
    font-size: 0.8em;

    .single-event-hour{
        border-radius: 25px;
        padding: 2px;
        background-color: #0ac147;
        width: 60%;
        margin: auto;
        text-align: center;
        color: white;
    }
    p{
        text-align: center;
        img{
            border-radius: 25px;
            width: 25px;
            height: 25px;
        }
    }
}
.single-event:hover{
    background-image: linear-gradient(to right, #8a7f97, #80778e, #766f85, #6c687d, #636074);
    cursor: pointer;
}