@import '../../variablesStyle.scss';

.modal {
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 1;

    /* Modal Content */
    .modal-content {
        // position: relative;
        background-color: #fefefe;
        margin: 300px auto;
        padding: 0;
        border: 1px solid #888;
        width: 60%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.5s;

        /* Modal Header */
        .modal-header {
            padding: 2px 16px;
            background-image: linear-gradient(to right, #8a7f97, #80778e, #766f85, #6c687d, #636074);
            color: white;

            .close{
                font-size: 1.4em;
                padding: 10px 0;
            }
            .close:hover{
                cursor: pointer;
            }
        }
        /* Modal Body */
        .modal-body {
            padding: 2px 16px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;

            .modal-body-picture{
                width: 150px;
                grid-column-start: 2;
                margin: auto;
            }
            p{
                grid-column-start: 1;
            }
            .comment-display{
                max-height: 150px;
                overflow: scroll;
            }
        }

        /* Modal Footer */
        .modal-footer {
            padding: 2px 16px;
            background-image: linear-gradient(to right, #8a7f97, #80778e, #766f85, #6c687d, #636074);
            color: white;

            .modal-footer-buttons{
                display: flex;
                justify-content: space-around;
                
                button{
                    border-radius: 25px;
                    border : white solid 1px;
                    background: white;
                    padding: 6px 3px;
                    width: 100px;
                    margin: 5px;
                    outline: none;
                }
                button:hover{
                    background-image: $greenBackground;
                }
            }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            label{
                width: 100%;
            }
            textarea{
                width: 100%;
                min-height: 100px;
                max-height: 200px;
                outline: none;
                font-family: 'Roboto',  'sans serif'
            }
            button{
                border-radius: 25px;
                border : white solid 1px;
                background: white;
                padding: 6px 3px;
                width: 100px;
                margin: 5px;
            }
        }
        }
    }
    /* Add Animation */
    @keyframes animatetop {
    from {top: -600px; opacity: 0}
    to {top: 0; opacity: 1}
    }
}