@import '../../variablesStyle.scss';

.modal {
    position: fixed;    
    width: 100%; /* Full width */
    height: inherit;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 1;

    /* Modal Content */
    .modal-content {
        margin: 15% auto;
        padding: 0;
        width: 800px;
        height: 45%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.5s;
        border-radius: 15px;
        background-image: $violetBackground;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        /* Modal Header */
        .modal-header {
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 15%;

            .close{
                font-size: 1.4em;
                padding: 10px 15px;
            }
            .close:hover{
                cursor: pointer;
            }
        }
        /* Modal Body */
        .modal-body {
            display: flex;
            justify-content: space-around;
            height: 60%;
            
            .body-text{
                width: 40%;
                border-radius: 8px;
                background: $whiteSnow;
                text-align: justify;
                
                div{
                    max-height: 100%;
                    overflow-y: auto;
                    border-radius: 8px;
                    padding:  0 15px;
                }
            }
            .body-picture{
                width: 40%;
                display: flex;
                height: 100%;
                
                .img-body-picture{
                    align-self: center;
                    margin: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .comment-display{
                max-height: 100%;
            }
        }

        /* Modal Footer */
        .modal-footer {
            color: $whiteSnow;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            height:15%;


            .modal-footer-buttons{
                display: flex;
                justify-content: space-around;
                
                button{
                    border-radius: 25px;
                    border: $whiteSnow solid 0.5px;
                    background: Transparent;
                    width: 100px;
                    margin: 10px;
                    outline: none;
                    color: $whiteSnow;
                }
                button:hover{
                    background-image: $greenBackground;
                    border: $greenTurquoise solid 0.5px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: auto;
            background-image: $violetBackground;
            border-radius: 0 0 10px 10px;
            
            label{
                width: 80%;
                margin: auto;
            
                textarea{
                width: 100%;
                outline: none;
                font-family: 'Roboto',  'sans serif';
                display: flex;
                flex-direction: column;
                }
            }
            button{
                border-radius: 25px;
                border: $whiteSnow solid 0.5px;
                background: Transparent;
                width: 100px;
                margin: 10px;
                outline: none;
                color: $whiteSnow;
                margin: 10px auto;
                padding: 8px;
            }

            button:hover{
                background-image: $greenBackground;
                border: $greenTurquoise solid 0.5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
        }
    }
    /* Add Animation */
    @keyframes animatetop {
    from {top: -600px; opacity: 0}
    to {top: 0; opacity: 1}
    }
}