.calendarReact{
    height: 100%;

    .react-calendar{

            .react-calendar__navigation{
                button{
                    padding: 2%;
                }
            }
            .react-calendar__month-view{

                .react-calendar__month-view__weekdays{
                    padding: 2%;
                }
                .react-calendar__month-view__days{

                    button{
                        padding: 35px 0;
                    }
                }

            }
    }
}