@import '../../../variablesStyle.scss';

.calendar-week-container{
    margin: 0 20px;
    .weekDays{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: auto;

        .day {
            grid-row: 1/2;
            .weekName{
                font-weight: bold;
                text-align: center;
                color: $darkPurple;
            }
        }
        .position1{
            grid-column: 1 / 2;
        }
        .position2{
            grid-column: 2 / 3;
        }
        .position3{
            grid-column: 3 / 4;
        }
        .position4{
            grid-column: 4 / 5;
        }
        .position5{
            grid-column: 5 / 6;
        }
        .position6{
            grid-column: 6 / 7;
        }
        .position0{
            grid-column: 7 / 8;
        }
        .day:hover{
            background:rgba(192, 190, 190, 0.582);
        }
        .day-post{
            height: 670px;
            border: 1px dashed rgba(192, 190, 190, 0.582);
            margin: 2%;
            background: $whiteSnow; 
        }
    }
    .calendar-nav{
        border-radius:25px;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        div{
            @include inputLeft();
            @include inputRight();
            @include calendarNavDiv();
            width: 400px;
            background: $whiteSnow;
            padding: 2px;
            margin: 10px;
            border: none;

            .previous-week{
                @include inputLeft();
            }
            .next-week{
                @include inputRight();
            }
            .btn{
                @include calendarNavBtn();
            }
            .btn:hover{
                background-image: $greenBackground;
                cursor: pointer;
            }
            .btn:focus{
                outline: none;
            }
            p{
                margin: auto;
                color: $greenTurquoise;
                font-weight: bold;
            }
        }
        .current-date{
            @include inputBorder();
            height: 42.16px;
            background-image: $greenBackground;
            color: $white;
            font-weight: bold;
            width: 150px;
            margin: 0 20px;
            display:flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .current-date:hover{
            background: $lightGreenTurquoise;
            cursor: pointer;
        }
        .current-date:focus{
            outline: none;
        }
    }
}

@media screen and (max-width: 1001px) {
    .weekName{
        font-size: 0.8em;
    }
    .calendar-nav{
        width:70%;
        div{
            button{
                font-size : 0.8em;
            }
            p{
                font-size : 0.8em;
            }
        }
    }
}