.horizontalNavBar-container{
    margin: auto 0;

    .horizontalNavBar-elements{
        display:flex;
        justify-content: space-around;
        flex-wrap: nowrap;

        .option{
            margin: auto 0;
        }
        .horizontalNavBar-elements-tweet{
            display: flex;
            justify-content: center;
            margin: auto 0;
            .horizontalNavBar-elements-list{
                list-style: none;
                padding: 0;
                display:flex;
                li{
                    background-color:#F8F8F9;
                    padding: 8px;
                    border-radius: 5px;
                }
            }
            .input-tweet{
                border-radius: 25px;
                border: 1px solid grey;
                padding: 2px 2px;
                height: 25px;
                background-color:#F8F8F9;
                align-self: center;
                width: 350px;
            }
        }
        .horizontalNavBar-elements-profile{
                margin: auto 0;
                button{
                    background-image: linear-gradient(to right, #8a7f97, #80778e, #766f85, #6c687d, #636074);
                    border-radius: 25px;
                    border: none;
                    box-shadow: 3px 3px 15px #020202;
                    padding: 6px;
                    width: 115px;
                    color: #f1f1f1;
                    font-weight: bold;
                }
        }

    }
}