.horizontalNavBar-container{
    margin: auto 0;

    .horizontalNavBar-elements{
        display:flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        justify-content: flex-start;

        img{
            height: 55px;   
            width: auto;
            padding: 5px;
        }

    }
}