@import '../variablesStyle.scss';

.verticalMenu-container{
    background-color: $purple;
    color: $greenTurquoise;
    width: 100%;
    margin: 0;

    .verticalMenu-title{
        display:flex;

        h2{
            margin: 5% auto;
        }
        .fa-user{
            margin: auto;
            font-size: 1.5em;
        }
    }
    .verticalMenu-main-list{
        list-style: none;
        padding: 10px;
        margin: 20px;

        .verticalMenu-main-links{
            color: $white;
            padding-bottom: 2px;
            border-bottom: 0.8px solid $white;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .button-dropDown{
                background-color: $purple;
                color:$white;
                font-size: 1em;
                border:none;
                width: 100%;
                padding: 15px 0;
            }
            .button-dropDown:focus{
                outline: 0;
            }
        }
        .verticalMenu-list-second-links{
            list-style: none;
            position: relative;
            display: none;
            overflow: auto;
        }

        // .verticalMenu-main-links:hover + .verticalMenu-list-second-links{
        //     display: block;
        // }

        .verticalMenu-main-links:hover , .button-dropDown:hover{
            background-color: $purple;
            cursor: pointer;
        }
    }
    .add-btn{
        width: 70%;
        margin: 20px 15%;
        border-radius: 25px;
        background-image: $greenBackground;
        border: none;
        box-shadow: 3px 3px 15px #020202;
        padding: 8px;
        color: $white;
        font-weight: bold;

        i{
            margin: 0 15% 0 0;
        }
    }
    .add-btn:hover{
        background: $greenBackgroundHover;
    }
    button:hover{
        cursor: pointer;
    }
    .verticalMenu-list-actions{
        color: $lightPurple;
        
        ul{
            margin: 20px auto;
            list-style: none;
            padding: 0;

            li{
                border-bottom: 1px solid rgb(137, 137, 151);
                width: 80%;
                margin: 3% auto;
                display: flex;
                align-content: center;
                justify-content: flex-start;

                .fa-bell{
                    color: $green;
                }
                .fa-ban{
                    color: $red;
                }
                .fa-clock{
                    color: $blue;
                }
                .fa-check{
                    color : #799949;
                }
                .fa-mail-bulk{
                    color: $greenTurquoise;
                }
                i{
                    padding: 10px;
                    // margin-right: 10%;
                }
                p{
                    margin: 0;
                    align-self: center;
                }
            }
            li:hover{
                background-color: $purpleHover;
                cursor: pointer;
            }
        }
    }
}
@media screen and (max-width: 1001px) {
    h2{
        font-size:0.9em;
    }
    .add-btn{
        display: none;
    }
    .verticalMenu-list-actions{
        ul{
            li{
                display: block;
                p{
                    display: none;
                }
                i{
                    margin: auto;
                }
            }
        }
    }
}