.events-month-container{  
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 120px;

    .morning-container{
        height: 60px;
        grid-row-start: 1;
        grid-column-start: 1;
        overflow-y: auto;
    }
    .afternoon-container{
        height: 60px;
        grid-row-start: 2;
        grid-column-start: 1;
    }
}
.eventView{
    margin: auto;
    color: white;
    border-radius: 25px;
    font-size: 1em;
    text-align: center;
    width: 120px;
    display: flex;
    justify-content: space-around;

    .eventFormat{
        margin: 0;
    }
}
.eventView:hover{
    background: rgb(73, 121, 118)
}
.validate-true{
    background:rgb(10, 193, 71);
}
.validate-false{
    background: red;
}
.process-true{
    background: rgb(0, 152, 255);
}