// colors
$greenTurquoise : #62bdd1;
$purple : hsl(242, 25%, 30%);
$lightPurple : #8281a4;
$darkPurple : #3a3960;
$green : #87c526;
$red : #ee3415;
$blue : #5DBFD1;
$white : #f1f1f1;
$whiteSnow: #FFFFFF;
$greyBackground: #f4f3f8;
$darkGrayBackground: rgb(88, 94, 93);
$border-grey: rgba(192, 190, 190, 0.582);
$black : #333333;

// background-image: linear-gradient(to right, #62bdd1, #4ac6d3, #2ecfd0, #17d7c8, #21debb);

// color hover
$purpleHover : #63637F;
$lightGreenTurquoise : #6cc1d4;



// background over

// $greenBackground : linear-gradient(to right, #7ba6d8, #74b6dd, #76c4de, #82d1dd, #95ddda);
$greenBackground : linear-gradient(to right, #62bdd1, #4ac6d3, #2ecfd0, #17d7c8, #21debb);
$greenBackgroundHover : linear-gradient(to right, #7ecfe1, #70d6e1, #64dcde, #5de2d8, #5ee8ce);
$purpleBackground : linear-gradient(to right, #815a9b, #775c96, #6f5e90, #675f89, #625f81);
$greypurpleBackground : linear-gradient(to bottom, #d5d5e3, #d8d8e5, #dcdce8, #dfdfea, #e3e3ed);
// other
$widthInput : 80px;

//mixin
@mixin input(){
    background-color: $white;
    padding: 8px;
    width: 80px;
    text-align: center;
    margin: 1px;
    border: none;
}

@mixin inputLeft(){
    @include input();
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

@mixin inputRight(){
    @include input();
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
@mixin inputBorder(){
    @include input();
    border-radius : 25px;
}
@mixin calendarNavDiv(){
    @include inputLeft();
    @include inputRight();
    width: 315px; 
    display: flex;
    justify-content: center;
    align-content: center;
    background: none;
    height: 40px;
    padding: 0;
}
@mixin calendarNavBtn(){
    width: 45px;
    height: 40px;
    background: none;
    margin: 0;
    padding: 0;
}

//background-image: linear-gradient(to right, #7ba6d8, #74b6dd, #76c4de, #82d1dd, #95ddda);