@import '../variablesStyle.scss';

.NavBarDashboard-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: $greypurpleBackground;
    h2{
        margin: 0 10px;
        color : $greenTurquoise;
        padding: 10px;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0 10px;

        li{
            background-color: #f1f1f1;
            padding: 8px;
            width: 70px;
            text-align: center;
            margin: 1px;
        }
        .first-list{
            @include inputLeft();
        }
        .last-list{
            @include inputRight();
        }
        .NavBarDashboard{
            background: $whiteSnow;
        }
        li:hover{
            cursor: pointer;
            background-image: $greenBackground;
        }
        li:target{
            background-image: $greenBackground;
        }
    }
}