@import '../variablesStyle.scss';

.NavBarDashboard-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, #e5e4ea, #e2e1e7, #e0dfe5, #dddce2, #dbdae0);
    padding: 10px;
    max-height:40px;

    h2{
        margin: 0;
        color : #95DDDA;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-around;

        li{
            background-color: #f1f1f1;
            padding: 8px;
            width: 70px;
            text-align: center;
            margin: 1px;
        }
        .NavBarDashboard-first-list{
            @include inputLeft();
        }
        .NavBarDashboard-last-list{
            @include inputRight();
        }
        li:hover{
            cursor: pointer;
            background-image: linear-gradient(to right, #7ba6d8, #74b6dd, #76c4de, #82d1dd, #95ddda);
        }
        li:target{
            background-image: linear-gradient(to right, #7ba6d8, #74b6dd, #76c4de, #82d1dd, #95ddda);
        }
    }
}