.calendar-day-container{
    .calendar-day-button-and-date{
        display: flex;
        justify-items: center;
    }
    .hour{
        background: #f1f1f1;
        // height: 50px;
        width: 100%;
        padding: 10px;
        
    }
    .hour:hover{
        background: gray;
        cursor: pointer;
    }
}