@import '../../variablesStyle.scss';

.eventView{
    margin: auto;
    color: $white;
    border-radius: 25px;
    text-align: center;
    width: 75%;
    height: 25px;
    display: flex;
    align-items: center;
    .eventFormat{
        margin: 0;
        text-align: center;
    }
}
.eventView:hover{
    background: rgb(88, 94, 93)
}
.validated-true{
    background:rgb(10, 193, 71);
}
.notValidated-true{
    background: red;
}
.process-true{
    background: rgb(0, 152, 255);
}
.content{
    border: 1px solid grey;
    background: $white;

    .eventAccountPic{
        border: 0.5px solid grey;
        border-radius: 25px;
        width: 30px;
        height: 30px;
    }
    h3{
        font-size: 1em; 
        margin: 0;
    }
    button{
        border: none;
        width: 100%;
        color : $greenTurquoise;
        background: none;
        font-weight: bold;
        margin: auto;
    }
    button:hover{
        cursor: pointer;
        color: rgb(188, 236, 234);  
    }
    button:focus{
        outline:0;
    }
}
.isOpen-true{
    background: $violet;
    color: $white;
}
.events-content{
    background: $violet;
    color: $white;
}
.eventIcon{
    margin: auto;
}