@import '../../variablesStyle.scss';

.event-view-pic{
    img{
        width:40px;
        border-radius: 25px;
    }
}
.eventView{
    margin: 1px auto;
    color: $white;
    border-radius: 25px;
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    
    .eventFormat{
        margin: auto;
        text-align: center;
        padding: 2px;
    }
}
.eventView-week{
    position: relative;
    top: 11px;
}

.eventView:hover{
    background: rgb(88, 94, 93)
}
.validated-true{
    background: $green;
}
.notValidated-true{
    background: $red;
}
.process-true{
    background: $blue;
}

.content{
    border: 0.2px solid grey;
    background: $whiteSnow;
    margin: 0 8px;
    height:92px;

    .eventAccountPic{
        border-radius: 25px;
        width: 28px;
        height:28px;
    }
    h3{
        font-size: 1em; 
        margin: 0;
    }
    button{
        border: none;
        width: 100%;
        color : $greenTurquoise;
        background: none;
        font-weight: bold;
        margin: auto;
    }
    button:hover{
        cursor: pointer;
        color: rgb(188, 236, 234);  
    }
    button:focus{
        outline:0;
    }
}
.content:hover{
    background: $greyBackground;
}

.isOpen-true{
    background: $violet;
    color: $white;
}
.events-content{
    background: $violet;
    color: $white;
}
.eventIcon{
    margin: auto;
}
.eventView:hover{
    cursor: pointer;
}