@import '../../variablesStyle.scss';

.eventView{
    margin: auto;
    color: $white;
    border-radius: 25px;
    font-size: 1em;
    text-align: center;
    width: 120px;
    display: flex;
    justify-content: space-around;

    .eventFormat{
        margin: 0;
    }
}
.eventView:hover{
    background: rgb(88, 94, 93)
}
.validated-true{
    background:rgb(10, 193, 71);
}
.notValidated-true{
    background: red;
}
.process-true{
    background: rgb(0, 152, 255);
}
.content{
    border: 1px solid grey;
    background: $white;

    .eventAccountPic{
        border: 0.5px solid grey;
        border-radius: 25px;
        width: 30px;
        height: 30px;
    }
    h3{
        font-size: 1em; 
        margin: 0;
    }
    button{
        border: none;
        color : $greenTurquoise;
        background: none;
        font-weight: bold;
        margin-left: 32%;
    }
    button:hover{
        cursor: pointer;
    }
    button:focus{
        outline:0;
    }
}
// .hideContent-false{
//     display: none;
// }  